@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading and logo */

.header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

h1, h2 {
    font-family: bahianita, sans-serif;
    letter-spacing: 2px;
    color: #00C9F6;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    color: white;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Body */

body {
    font-family: 'valera round', sans-serif;
}