@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    font-family: bahianita, sans-serif;
}