@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */

body {
    font-family: 'varela round', sans-serif;
    color: white;
    background-color: black;
}

/* Heading and logo */

.header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
}

h1 {
    font-family: bahianita, sans-serif;
    letter-spacing: 2px;
    color: #00C9F6;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* Nav links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    color: white;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Hero image */

#hero-outer {
    height: 600px;
    max-width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    max-width: 100%;
    background: url(../images/pexels-photo-9072216.webp);
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* About us section */

h1 {
    font-weight: 300;
}

.box {
    height: 100%;
    max-width: 90%;
    border: 1px #00C9F6 solid;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
}

#about-us h3 {
    font-family: bahianita, sans-serif;
    color: #00C9F6;
    font-size: 350%;
    font-weight: 100;
}

#question {
    font-family: bahianita, sans-serif;
    font-size: 600%;
    font-weight: 300;
    text-align: center;
    color: #00C9F6;}

#top-info {
    padding-top: 30px;
    /* vertical-align: top; */
}

#top-info-text {
    text-align: center;
}

#top-picture-container {
    max-width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #00C9F6;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#top-picture-bg {
    background: url(../images/pexels-jaroslav-nymburskyÌ-687811.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    border-radius: 100%;
}

.top-picture-bg:hover {
    transform: scale(1.3);
}

#center-info {
    text-align: center;
}

#center-picture-container {
    max-width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #00C9F6;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-picture-bg {
    background: url(../images/pexels-mikhail-nilov-7886852.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    border-radius: 100%;
}

.center-picture-bg:hover {
    transform: scale(1.3);
}

#bottom-info-text {
    text-align: center;
}

#bottom-picture-container {
    max-width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #00C9F6;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#bottom-picture-bg {
    background: url(../images/pexels-rodnae-productions-7915276.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    border-radius: 100%;
}

.bottom-picture-bg:hover {
    transform: scale(1.3);
}

#top-info-text, #center-info-text, #bottom-info-text {
    padding-top: 20px;
}

#about-us p {
    font-size: 150%;
    font-weight: 300;
}

#about-us ul {
    font-size: 150%;
    font-weight: 300;
    list-style-position: inside;
}

/* Events */

.title {
    margin-bottom: 30px;
    font-family: bahianita, sans-serif;
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    color: #00C9F6;
}

#event-box {
    height: 300px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
} 

.event {
    width: 20%;
    height: 300px;
    float: left;
    padding: 50px 0 0 10px;
    text-align: center;
    font-size: 150%;
    font-weight: 500;
    color:white;
    box-sizing: border-box;
    border: 2px solid black;
}

.event h2 {
    font-family: bahianita, sans-serif;
    font-size: 200%;
    color: #00C9F6;
}

#event-one {
    background-image: url(../images/wp2619610-counter-strike-16-hd-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#event-two {
    background-image: url(../images/uwp2027262.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#event-three {
    background: url(../images/wp5936642-warzone-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#event-four {
    background-image: url(../images/uwp1639915.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

#event-five {
    background-image: url(../images/628496.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    overflow: hidden;
}

/* Footer */

footer {
    width: 100%;
    background-color: rgba(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

.social-networks i {
    font-size: 150%;
    padding: 2% 5% 1% 5%;
    color: white;
}

.social-networks > li {
    display: inline;
}

.contact-info {
    text-align: center;
}

.contact-info > li {
    color: white;
    padding-top: 10px;
}

.contact-info > span {
    padding-left: 30px;
}

.made-by {
    padding-top: 10px;
}

.made-by a {
    text-decoration: none;
    color: white;
}

/* Gallery photos */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 5px;
    margin: 0 50px 0 50px;
}

#photos img {
    width: 100%;
    margin-bottom: 5px;
}

/* Join us */

 .join-us {
    align-items: center;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#form p {
    text-align: center;
}

.age {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

label {
    padding-right: 20px;
}

input[type=text], input[type=email], textarea, input[type=radio], select {
    background-color: #808782;
    color: white;
    text-align: center;
}

input[type=text], input[type=email], textarea {
    width: 50%;
    border-radius: 4px;
}

input[type=submit] {
    margin-bottom: 20px;
    background-color: #808782;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

input[type=reset] {
    background-color: white;
    color: #808782;
    padding: 5px;
    border-radius: 4px;
}

/* Media queries */

/* For lager to medium screen 1200px wide and down */

@media screen and (max-width: 1200px){
    .event {
        width: 100%;
        clear: both;
    }

    .info {
        margin-bottom: 20px;
    }
}

/* For large screen above 1200px wide */

@media screen and (min-width: 1200px) {
    #top-picture-container {
        max-width: 400px;
        height: 400px;
        float: left;
        width: 50%;
        margin-left: 150px;
        margin-right: 0;
    }

    #top-info-text {
        text-align: center;
        margin: 100px 50px 217px 700px;
    }
   
    #center-picture-container {
        max-width: 400px;
        height: 400px;
        float: right;
        width: 50%;
        margin-right: 150px;
        margin-left: 0;
    }

    #center-info-text {
        text-align: center;
        margin: 0 700px 217px 50px;
        padding-top: 150px;
    }
    
    #bottom-picture-container {
        max-width: 400px;
        height: 400px;
        float: left;
        width: 50%;
        margin-left: 150px;
        margin-right: 0;
    }

    #bottom-info-text {
        text-align: center;
        margin: 100px 50px 217px 700px;
        padding-top: 120px;
    }

    .top-picture-bg:hover {
        transform: scale(1.15);
    }

    .center-picture-bg:hover {
        transform: scale(1.15);
    }
}

/* For small screens from 800px wide and down */
    
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}